<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/assets/simple-sidebar.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- <link href="/assets/sidenav.css" rel="stylesheet" /> -->
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <span class="badge badge-dark navbar-brand sidebar-heading"
          >Covid-19</span
        >
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action bg-dark"
            ><div class="mycolor" id="profile">
              <i class="fa fa-user" style="font-size: 18px" class="mr-4">
                <span class="ml-2">Profile</span>
              </i>
            </div>
          </a>
          <a
            href="#"
            data-toggle="modal"
            data-target="#detailsModal"
            class="list-group-item list-group-item-action bg-dark"
            id="detail"
            ><div class="mycolor ml-4">Family Details</div></a
          >
          <a
            href="#"
            data-toggle="modal"
            data-target="#pwdModal"
            class="list-group-item list-group-item-action bg-dark"
            id="changepassword"
            ><div class="mycolor ml-4">Change Passwored</div></a
          >
          <a
            href="#"
            data-toggle="modal"
            data-target="#complaintModal"
            class="list-group-item list-group-item-action bg-dark"
            ><div class="mycolor">
              <i class="fa fa-fa fa-leanpub" style="font-size: 18px">
                <span class="ml-2">Raise a Complaint</span>
              </i>
            </div></a
          >
          <a onclick="getcases()"
            href=""
            data-toggle="modal"
            data-target="#casesModal"
            class="list-group-item list-group-item-action bg-dark"
            ><div class="mycolor">
              <i class="fa fa-exclamation-triangle " style="font-size: 18px">
                <span class="ml-2">Total Cases</span>
              </i>
            </div></a
          >
          <a href="/api/user/logout" class="list-group-item list-group-item-action bg-dark"
            ><div class="mycolor">
              <i class="fa fa-sign-out" style="font-size: 18px">
                <span class="ml-2">Logout</span>
              </i>
            </div></a
          >
        </div>
      </div>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
          <button class="btn" id="menu-toggle">
            <i
              class="fa fa-bars"
              aria-hidden="true"
              style="font-size: 18px"
            ></i>
          </button>
        </nav>

        <!-- Total Cases Modal -->
        <div
        class="modal fade"
        id="casesModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Cases Around You</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <p class="alert alert-warning">TOTAL CASES  :<i id="noofcases">0</i></p>
            <ul class="list-group list-group-flush" id="caselist">
             NO CASES
             
            </ul>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      

        <div class="container jumbotron w-75 my-2">
          <h1 class="display-4">Your Readings</h1>
          <hr class="my-3" />
          <table class="table table-striped">
            <thead class="bg-primary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Oxygen(%)</th>
                <th scope="col">Temperature(F)</th>
              </tr>
            </thead>
            <tbody>
              <% for(i in data.people){%>
              <tr>
                <th scope="row"><%= Number(i)+1 %></th>
                <td><%= data.people[i] %></td>
                <td><%= data.temperature[i] %></td>
                <td><%= data.oxygen[i] %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <label class="checkbox-inline">
            <input
              type="checkbox"
              style="width: auto; background: navy"
              id="check"
            />
            Do you agree that above readings are taken by our authorities by
            visiting your home
          </label>
        </div>
      </div>
      <!-- Complaint modal -->
      <div
        class="modal fade"
        id="complaintModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Complain</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="" class="px-4" id="complaint-form">
                <div class="form-group row">
                  <label for="inputDescription">Description</label>
                  <textarea
                    class="form-control"
                    name="description"
                    id="inputDescription"
                    rows="5"
                  ></textarea>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    name="submit-complaint"
                    id="login-btn"
                    class="btn btn-primary"
                  >
                    Send
                  </button>
                  <button type="reset" class="btn btn-secondary">Clear</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Family details modal -->
      <div
        class="modal fade"
        id="detailsModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Family Details</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="details-wrapper">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Names
                    <ul class="list-group list-group-flush">
                      <% for(i in data.people){ %>
                      <li class="list-group-item"><%= data.people[i] %></li>
                      <% } %>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    Address
                    <ul>
                      <span>
                        <%= data.address.dno %> <%= data.address.street %><br />
                        <%= data.address.area %>, <br />
                        <%= data.address.city %>-<% data.address.zip %> <%=
                        data.address.state %>
                      </span>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Change Password modal -->
      <div
        class="modal fade"
        id="pwdModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel1"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">
                Change Password
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="" class="px-4" id="pwd-form">
                <div class="form-group">
                  <label for="inputOldPassword">Old Password</label>
                  <input
                    type="password"
                    name="oldPwd"
                    class="form-control"
                    id="inputOldPassword"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="inputNewPassword">New Password</label>
                  <input
                    type="password"
                    name="newNwd"
                    class="form-control"
                    id="inputNewPassword"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="inputPassword">Confirm Password</label>
                  <input
                    type="password"
                    name="confirmPwd"
                    class="form-control"
                    id="inputConfirmPassword"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    name="submit-complaint"
                    id="change-btn"
                    class="btn btn-primary"
                  >
                    Change
                  </button>
                  <button
                    type="reset"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function getcases(){
       $.post('/api/user/getcases',{
         street:`<%= data.address.street %>`,
         area:`<%= data.address.area %>`
         
       },function(data,status){
         if(data){
           $("#caselist").html("");
           $("#noofcases").html(data.length);
          
           for(i in data){
              let tdata = $("#caselist").html();
              let isyouraddress="You have nearest cases please be safe";
              let cl= "alert alert-info"
              console.log(`<%= data.address %>`);
              let tdata1;
               if(data[i].dno == `<%= data.address.dno %>`){
                 isyouraddress = "the test result is came for You is positive please you are requested to be under quarantine"
                   tdata1 = `<li class="list-group-item" style="background-color:red;">${isyouraddress}</li>`;
               }
               else{
                   tdata1 = `<li class="list-group-item" >${isyouraddress}<br>${data[i].dno} ${data[i].street}<br>
              ${data[i].area}</li>`;
               }

            
               $("#caselist").html(`${tdata}${tdata1}`);


             

           }

         }

       
       });
      }
      $('#detail').hide();
        $('#changepassword').hide();
      $('#profile').click(function () {
        $('#detail').toggle();
        $('#changepassword').toggle();
      });
      $('#check').click();
      $('#menu-toggle').click(function (e) {
        e.preventDefault();
        $('#wrapper').toggleClass('toggled');
      });
      $('#check').click(function (e) {
        let ischecked = $('#check').prop('checked');
        if (!ischecked) {
          let isconfirm = confirm(
            'click ok if you sure that this is not your readings'
          );
          if (isconfirm) alert('your complaint will soon rectified');
        }
        console.log(ischecked);
      });
     
    </script>
    <script src=https://code.jquery.com/jquery-3.5.1.min.js></script>
  </body>
</html>
